extends layout.pug 

block content
  .create-container 
     h2 Write your blog

     form(action="/create" method="POST")
        .input-container-main
            .input-container 
               label.label Author
               input.input(type="text" name="author" placeholder="   full name here...")
           
            .input-container
               label.label Title
               input.input(type="text" name="title" placeholder="   blog title here...")
           
        
        label.label-blog Blog Text 
        textarea.textarea(placeholder="   blog text here..." type="text" name="blog-text")

        button.btn Save blog