extends layout.pug 

block content 
    .detail-container 
        h2.title #{ blog.title }
        .line
        h3.author #{ blog.author }
        h3.date 
        .text-container
            p.description #{ blog.blogtext }
