extends layout.pug 

block content 
    .detail-container 
        h2.title Blog title will be here
        .line
        h3.author Name <span> Lastname 
        h3.date Date and Time here
        p.description Blog text will be here