extends layout.pug 

block content 
  .container 
    h1.intro-msg-1 Publish your passions, your way
    h2.intro-msg-2 Create a unique and beautiful blog. It's easy and free.
    a.button(href="/create") Write blog
  .text 
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.