extends layout.pug 

block content 
  .container 
    h1.intro-msg-1 Publish your ideas online, they matter
    h2.intro-msg-2 Whatever's on your mind, make them alive here. It's easy and free.
    a.button(href="/create") Create Your Blog
  .text 
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.