html {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
}
.navbar h1 a{
    font-size: 35px;
    font-weight: 500;
    color: #FF8000;
    text-decoration: none;
    padding: 5px 10px;
    letter-spacing: 3px;
    font-family: 'Fredoka One', cursive;
    border-radius: 30px;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
}
.nav a:hover, .navbar h1 a:hover{
    color: #FF9224
}

/* Home Page */

.container {
    max-width: 1000px;
    margin: 80px auto 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-msg-1 {
    font-size: 40px;
    color: #000;
    letter-spacing: 5px;
    font-weight: 600;
}
.intro-msg-2 {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    padding-top: 20px;
}
.button {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding: 10px 25px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #FF8000;
    border: none;
}

.button:hover{
    background-color: #FF9224;
}

.text p {
    margin-top: 130px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

/* create page */

.create-container {
    max-width: 90%;
    margin: 0 auto;
}

.create-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.error, .success {
    font-size: 20px;
    color: #FF8000;
    border-radius: 20px;
    margin-bottom: 10px;
}
.success {
    color: green;
}
.input-container-main {
    width: 100%;
    display: flex;
}
.input-container {
    width: 50%;
}
.input {
    width: 80%;
    display: block;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    margin-top: 10px;
    border: 0.5px solid #FF8000;
    border-radius: 15px;
    outline: none;
}
::placeholder {
    font-size: 16px;
}
.label {
    color: #000;
    background-color: rgb(255, 128, 0, 0.2);
    padding: 3px 20px;
    border-radius: 20px;
}
.label-blog {
    color: #000;
    background-color: rgb(255, 128, 0, 0.2);
    padding: 3px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 30px;
}
.textarea {
    width: 60%;
    height: 250px;
    display: block;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 0.5px solid #FF8000;
    border-radius: 15px;
    outline: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #FF8000;
    border: none;
    outline: none;
}
.btn:hover {
    background-color: #FF9224;
}

/* blogs list page */

.blog-container {
    max-width: 90%;
    margin: 0 auto;
}

.blog-container h1 {
    margin: 40px 0;
}

.blog-wrapper {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #FF8000;
    border-radius: 50px;
    margin: 20px 0;
}

.blog {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.blog:hover {
    color: #FF8000;
}

.delete {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #FF8000;
}
.delete:hover {
    background-color: #FF9224;
}

/* detail page */

.detail-container {
    max-width: 90%;
    margin: 0 auto;
}

.title {
    display: inline-block;
    margin-top: 30px;
}
.line {
    width: 10%;
    height: 2px;
    border-radius: 2px;
    background-color: #FF8000;
}

.author {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}
.detail-container span {
    color: #333;
}
.date {
    font-size: 16px;
    color: #ccc;
}


.description {
    display: inline-block;
    margin-top: 40px;
}